.caja-main{
    display: flex;
    background-color: #1584b0;
}

.caja-fd {
    background: rgba(255, 251, 127);
    margin: auto;
    text-align: center;
    width: 30vw;
    height: fit-content;
    padding: 2vh;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.caja-contenedor-img {
    background: rgba(255, 127, 127);
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 2vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.btn-fd {
    width: fit-content;
}

.caja-fd img{
    border-radius: 30px;
    max-width: 90%;
    max-height: 100%;
    padding-right: 0px;
    margin-right: 30px;
}

.imagen{
    background-color: aquamarine;
    max-width: 90%;
    max-height: 100%;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.ul-caja{
    background-color: bisque;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 2vh;
    overflow: scroll;
    text-align: left;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}


li {
    
    max-width: 100%;
    height: fit-content;
}

input {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 1vw;
}

@media only screen and (max-width: 450px) {
    /* Estilos para pantallas con ancho máximo de 768px (por ejemplo, smartphones) */
    .caja-fd {
        background: rgba(255, 251, 127);
        margin: auto;
        width: 80vw;
        height: fit-content;
        text-align: center;
        padding-bottom: 4vh;
    }
    .ul-caja{
        background-color: bisque;
        max-width: 100%;
        max-height: 100%;
        padding-bottom: 4vh;
        overflow: scroll;
        text-align: left;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }
    li {
        max-width: 100%;
        height: fit-content;
    }
  }