.caja-main{
    display: flex;
    background-color: #1584b0;
}

.caja-fd {
    background: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    width: 60vw;
    height: fit-content;
    padding: 2vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.caja-contenedor-img {
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 2vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.btn-fd {
    width: fit-content;
}

.caja-fd img{
    max-width: 100%;
    max-height: 100%;
}

.imagen{
    background-color: aquamarine;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

.texto {
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.ul-caja{
    background-color: rgb(255, 255, 255);
    list-style: none;
    text-align: left;
    padding: 0;
    padding-top: 10px;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;    
}

li {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
    background-color: #1584b0;
    padding-top: 30px;
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
}

input {
    max-width: 100%;
}

@media only screen and (max-width: 450px) {
    /* Estilos para pantallas con ancho máximo de 768px (por ejemplo, smartphones) */
    .caja-fd {
        background: rgb(255, 255, 255);
        margin: auto;
        width: 80vw;
        height: fit-content;
        text-align: center;
        padding-bottom: 5vh;
    }
    .ul-caja{
        background-color: rgb(255, 255, 255);
        list-style: none;
        text-align: left;
        padding: 0;
        padding-top: 10px;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: visible;
        border-radius: 20px;        
    }
    .texto {
        background-color: azure;
        border-radius: 10px;
        padding: 10px;
        margin: auto;
    }

    li {
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
        max-width: 100%;
        margin-bottom: 50px;
        height: fit-content;
    }
  }